.Results {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1rem 4rem;

  .left {
    flex-direction: column;
    align-items: center;
    width: 45vw;
  }

  .displayName {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .buttons {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 8%;
    z-index: 99999;
    width: inherit;
  }

  .right {
    width: 45%;
    min-width: 20rem;
  }

    ul {
      padding-inline-start: 0px;

      li {
        list-style-type: none;
      }
    }

    h3 {
      margin-top: 0rem;
  }
}

 :global(#confetti) {
  position: absolute;
  top: -2rem;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 5;
}
