.Results {
  display: flex;
  width: 100vw;
  margin: 1vw;
  padding: 1vw;
  
  li {
    list-style-type: none;
  }
  
  .displayName {
    display: flex;
    flex-direction: column;
    width: 50%
  }

  .editors {
    background-color: var(--gray);
    margin: 1rem;
    padding: 1rem;
    color: white;

    ul {
      padding: 0;
    }
  }

 :global(#confetti) {
  position: absolute;
  top: 8rem;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  z-index: 5;
  }

  .panda {
    margin-top: 50%;
  }

}