.SolutionsViewer {
    width: 100%;
    height: 70vh;
    margin-bottom: 2rem;
    margin-top: 0.75rem;
    padding: 1rem;

    border-top: .9rem solid var(--muted-gray);
    border-bottom: .9rem solid var(--muted-gray);
    background-color: var(--muted-gray);
    overflow: scroll;

    ul {
        padding-inline-start: 0px;
  
        li {
          list-style-type: none;
        }
      }
  
      h3 {
        margin-top: 0rem;
    }
}
