.Challenge {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1rem 4rem;
  
  .overview {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 43vw;
    height: 75vh;
  }
  
  article {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    div {
      width: 50%;
    }
  }
  
  .testResults {
    margin-top: 2rem;
    padding: .6rem 2rem;
    color: var(--gray);
    background-color: var(--muted-gray);
  }

  .solution {
    width: 45vw;

    .content {
      width: 100%;
      min-width: 37rem;
      max-height: 73vh;
      min-height: 61vh;
      margin-top: 0.75rem;
      padding: 1rem;

      border-top: .9rem solid var(--muted-gray);
      border-bottom: .9rem solid var(--muted-gray);
      background-color: var(--muted-gray);
      overflow: scroll;

      hr {
        margin-top: 3.5rem;
    }

      h3 {
        margin-top: 0;
      }

      article {
        width: 90%;
      }
    }
  }
}
