.ChallengeDisplay {
    width: 100%;

    .content {
        height: 55vh;
        margin-top: 0.75rem;
        padding: 1rem;

        border-top: .9rem solid var(--muted-gray);
        border-bottom: .9rem solid var(--muted-gray);
        background-color: var(--muted-gray);
        overflow: scroll;

        .video {
            text-align: center;
            margin-top: 4%;
        }

        h3 {
            margin: 0rem;
        }
    }

      a {
        color: #728FCB;

        &:hover {
            color: var(--pink)
        }
    }
}