.ChallengeDisplay {
    width: 100%;

    .tabs {
        margin: 0rem;
        background-color: white;

        input[type="radio"] {
            display: none;
        }
        
        label {
            font-family: var(--display-font);
            display: inline;
            padding: 0.75rem;
            margin: 0 0.08rem;
            border-top-left-radius: 1.5rem;
            border-top-right-radius: 1.5rem;
            background-color: var(--muted-gray);
            box-shadow: inset -1px -1px 10px rgba(0, 0, 0, 0.125);
        }
        
        .active {
            border-bottom: 1px solid var(--muted-gray);
            box-shadow: none;
        }
    }

    .content {
        background-color: var(--muted-gray);
        margin-top: 0.75rem;
        width: 40vw;
        min-width: 37rem;
        padding: 1rem;
        overflow: scroll;
        min-height: 20rem;
        max-height: 55vh;

        h3 {
            margin: 0rem;
        }
    }

    a {
        color: #728FCB;
    }
}
