.PopUp {
  position: fixed;
  top: 10%;
  left: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid .1vw rgb(197, 197, 197);
  border-radius: 1rem;
  width: 50%;
  margin-bottom: 1rem;
  padding-top: 1rem;
  border: 1px solid var(--gray);
  border-radius: 5px;
  box-shadow: var(--box-shadow);  
  min-width: 35rem;
  padding: 1rem;
  background-color: rgba(48, 198, 232, 0.6);
  
  article {
    width: 505px;
    margin-left: 0;
    padding-left: 0;
  }

  span:first-child {
    position: absolute;
    right: 2rem;
    cursor: pointer;
  }

  article > div {
    margin: 2rem;
  }

  h3 {
    color: white;
    margin-left: 2rem;
  }
}

.PopUp:hover {
  border: 1px solid rgb(197, 197, 197);
  box-shadow: var(--hover-box-shadow);
}
