.mainBlue {
  background-color: var(--main-blue);
}

.secondaryBlue {
  background-color: var(--secondary-blue);
}

.green {
  background-color: var(--green);
}

.mutedGray {
  background-color: var(--muted-gray);
}

.gray {
  background-color: (var--gray);
  color: white;
}

.pink {
  background-color: var(--pink);
  color: white;
}

.gold {
  background-color: var(--gold);
}
