.tabs {
  margin: 0;
  background-color: white;

  input[type="radio"] {
      display: none;
  }

  label {
    display: inline;
    padding: 0.75rem;
    margin: 0 0.08rem;

    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    font-family: var(--display-font);
    
    background-color: var(--muted-gray);
    border-bottom: 1px solid var(--muted-gray);
    box-shadow: inset -1px -1px 10px rgba(0, 0, 0, 0.125);
  }

  .active {
    border-bottom: 1px solid var(--muted-gray);
    box-shadow: none;
}
}
