p {
  font-size: .5rem;
  font-weight: lighter;
  margin-top: -.25rem;
}

.alcherithmHeader{
  margin-top: -3rem;
  color: black;
  text-align: center;
}

.devs {
  text-align: justify;
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.dev {
  font-size: 15px;
  width: 20%;
  margin: 1rem;
}

.dev img {
  display: block;
  width: 80%;
  border-radius: 90%;
  margin: 0 auto;
}

.team-dev img {
  display: block;
  width: 3%;
  border-radius: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.links img{
  width: 12%;
  border-radius: 90%;
  margin: 0 auto;
  margin-bottom: 5px;
  display: inline-flex;
  text-align: right;
}

.icons {
  max-width: 1rem;
  display: flex;
  margin: 10px auto;
}

.para {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  background-color: rgb(250, 245, 241)
  
}
