.Splash {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    .hexagon {
        top: -2rem;
        width: 50rem;
        height: auto;
        left: calc(50% - 25rem);
        position: absolute;
        z-index: -1;
        animation: spin 7s linear infinite forwards;
        display: block;
        transform-origin: center calc(50% + 4rem);
    }

    aside img {
        height: 8rem;
        width: auto;
    }
    
    .links {
        padding: 0.5rem;
        margin: 0.5rem;
        font-size: 2rem;
    }

    a {
        color: #4D4D4D;
    }

    a:hover {
        color: hotpink;
    }
}


@keyframes spin{
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
