.Splash {

    background-color: #31e89f93;
    height: 100vh;
    
    h2 {
        color: white;
    }

    img {
        width: 5.5rem;
        margin: 1rem 1.6rem 1rem 3rem;
    }

    .hexagon {
        width: 80vw;
        height: auto;

        &:first-of-type {
            top: -10em;
            right: -10em;
        }

        &:nth-of-type(2) {
            top: -10em;
            left: -10em;
        }

        &:last-of-type {
            bottom: -10em;
        }
    }

    .container {
        display: flex;
    }

}





