@import '../../styles/variables.css';

.CodeChallenges {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding-inline-start: 0px;

  h1 {
    text-align: center;
  }

  a {
    text-decoration: none;
    color: var(--gray);
  }

  article {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  li {
    width: 20rem;
    height: 18rem;
    margin: 2rem;

    list-style-type: none;
    border: 1px solid var(--gray);
    border-radius: 5px;
    box-shadow: var(--box-shadow);  
  }

  li:hover {
    border: 1px solid rgba(49, 232, 232, 0.6);
    box-shadow: var(--hover-box-shadow);
  }

  .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 3rem;
  }

  .column {
    width: 100%;
    padding-inline-start: 0px;
  }

  .column li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 100em;
    min-width: 50em;
    min-height: 15em;
    padding: 2rem;

    section {
      width: 75%;
    }
  }
}
