.Header {
    display: flex;
    align-items: center;
    background-color: rgb(103, 200, 238);
    color: whitesmoke;
    width: 100vw;
    margin-bottom: 25px;


    img {
        width: 5.5rem;
        margin: 1rem 1.6rem 1rem 3rem;
    }
}
