.Dashboard {
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: -3rem;
    margin-bottom: -5rem;


    .userProgress {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: 5%;
    }

    .charts {
      flex-direction: row;
    }

    .textContainer {
      display: flex;
      flex-direction: column;
    }
    /* section:first-child {
      min-width: 100%;
      max-width: 70rem;
      min-height: 20rem;
      margin: 2rem;

      border: 1px solid rgb(187, 186, 186);
      border-radius: 5px;
    }  */

  
    button {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 10rem;
      min-width: 20rem;
      max-width: 20rem;
      min-height: 12rem;
  
      border: 1px solid rgb(187, 186, 186);
      border-radius: 5px;
      box-shadow: 5px 10px 10px rgb(187, 186, 186);
    }

    .buttons {
      display: flex;
      flex-direction: row;
    
    }


    p {
      font-size: 20px;
    }
  
    button:hover {
      border: 1px solid rgba(49, 232, 232, 0.6);
      box-shadow: 10px 12px 15px rgb(170, 169, 169);
      box-shadow: 10px 12px 15px rgba(48, 198, 232, 0.6);  
    }
  }
