* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: gray;

  a, button, select {
    cursor: pointer;
  }

  p {
    font-family: 'Open Sans';
  }
  
  h2 {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 400;
    font-size: 2.3rem;
    margin: 0;
  }

  h3 {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 400;
    font-size: 1.3rem;
  }
}

