.loginButton {
  margin: auto;
  margin-top: -2rem;
}

.inputForm {
  padding: 1rem 1rem;
  line-height: .5rem;
  border: dotted .1vw rgb(197, 197, 197);
  border-radius: 6px;
  font-size: 1rem;
  margin: auto;
  width: 11rem;
  height: 2.2rem;
  margin-bottom: 1rem;
}

.formWrap {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-items: center;
  border: .1vw solid rgb(197, 197, 197);
  border-radius: 1rem;
  width: 50%;
  margin-bottom: 1rem;
  padding-top: 1rem;
  border: 1px solid var(--gray);
  border-radius: 5px;
  box-shadow: var(--box-shadow);  
}

.formWrap:hover {
  border: 1px solid rgba(49, 232, 232, 0.6);
  box-shadow: var(--hover-box-shadow);
}

.errorDisplay {
  display: flex;
  margin: auto;
  justify-items: center;
  width: 50%;
  margin-top: -1rem;
  padding-left: .5rem;
  color: red;
}

.needAccount {
  display: flex;
  margin: auto;
  justify-items: center;
  width: 50%;
  padding-left: .5rem;

  a {
    margin-left: .5rem;
    color: var(--main-blue);
  }

  a:link {
    color: var(--main-blue);
  }

  a:visited {
    color: var(--main-blue);
  }

  a:hover {
    color: hotpink;
  }

  a:active {
    color: hotpink;
  }
}
